@{
    ViewBag.Title = "Index";
}
<h1>Facebook</h1>
<style>
    .container {
        margin: 50px;
    }

    textarea {
        margin-top: 10px;
        resize: none;
    }

    hr {
        margin-top: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="~/image/1658925325343.jpg" class="rounded-circle" height="200" width="200">
        </div>
        <div class="col-sm-9">
            <textarea class="form-control" placeholder="What's on your mind?"></textarea>
            <button class="btn btn-primary">Post</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <img src="~/image/1658925325343.jpg" alt="Profile picture" height="200" width="200">
        </div>
    </div>
</div>

