
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_Student")

@{
    var List = Html.Partial("_Student");
    List = new MvcHtmlString("<h3>THIS IS STUDENT LIST</h3>" + List.ToString());
}

@List

@{
    Html.RenderPartial("_Student");
}
