
@{
    ViewBag.Title = "About";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contect", "Contect", "Home")</li>
    </ul>
</nav>

<h2>About</h2>

<h3>This is Home About</h3>