
@{
    ViewBag.Title = "Contect";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contect", "Contect", "Home")</li>
    </ul>
</nav>

<h2>Contect</h2>

<h3>This is Home Contect</h3>