
<ul>
    @Html.Label("UserName")
    &nbsp;
    @Html.TextBox("Enter Your Name")
    <br />
    <br />
    @Html.Label("Password")
    &nbsp;
    @Html.TextBox("Enter Password")
    <br />
    <br />
    <br />
    <button class="form-control" type="submit" value="Password">Submit</button>
</ul>
