@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title = "Show";

    string s = "Ehtesham";
}

<h2>Show</h2>
@{ 
    for(int i = 0; i <= 10; i++)
            {
                <span>Welcome to insurejoy.com <br </span>
                <input type="Ehtesham" value="@s" /> <br />
                
            }
}

  @section footer {

    <div> footer asp.net</div>
   
}
@section scripts{
    
   <script>
       alert("Alert")
    </script>
    }


