
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_Student");

@{
    Html.RenderPartial("_Student");
}

@Html.Partial("_LogInPartialView");

@{
    Html.RenderPartial("_LogInPartialView");
}
