
@{
    ViewBag.Title = "Contect";
}

<h2>Contect</h2>
<h3>This is Contect Page</h3>

<h2>View Data is = @ViewData["var"]</h2>
<h2>View Bag is  = @ViewBag.var1</h2>
<h2>Temp Data is = @TempData["var2"]</h2>
<h2>Session Data is = @Session["var3"]</h2> 